body{
    background: #6c46ff;
}

.board button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #9aa8ff;
    border: 2px solid #7BA5FF;
}
#reset{
    width: 490px;
    height: 80px;
    text-decoration-color: aliceblue;
    font-size: 50px;
    border-radius: 50px;
    background: #9aa8ff;
    border: 2px solid #7BA5FF;
}

#player1{
    border: 2px solid #BDB76B;
}
