body{
    background: #6c46ff;
}


table{
    border: 2px solid #000000;
}


.board button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background: #F6FAFF;
    border: 1px solid #000000;
}
#reset{
    width: 490px;
    height: 80px;
    text-decoration-color: aliceblue;
    font-size: 50px;
    border-radius: 50px;
    background: #F6FAFF;
    border: 2px solid #000000;
}

#player1{
    border: 2px solid #c7566f;
}

.jumbotron{
    background: #a5ffc5;
}