body{
    background: #6c46ff;
}

.board button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: yellow;
    border: 2px solid purple;
}
#reset{
    width: 560px;
    height: 80px;
    text-decoration-color: aliceblue;
    font-size: 50px;
    border-radius: 50px;
    background: red;
}

#player1{
    border: 2px solid blue;
}
